@import url("bootstrap");

button{
    border: none;
    background-color: transparent;
    margin-top: 30px;

}


#logo{
    width: 100px;
    height: 100px;
    padding: 10px;
}

#upBar{
    display: flex;
    justify-content: space-between;  
}

#blackBar{
    background-color: rgba(28, 28, 28);
    
}

#lightText{
    color: white;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 30px;
    

}

#blueBar{
    background-color: rgba(2, 130, 249);
}

.iconsBar{
    width: 70px;
    height: 80px;
    margin-bottom: 20px;
    
}

#visa{
    margin-top: 30px;
}

#merch{
    padding: 20px;
}

#Info{
    display: flex;  
}

#backgroundIMG{
  background-image: url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    z-index: -2;
}
p{
    margin-bottom: 5px;
}

#dcLogo::before{
    content: "";
    position: absolute;
    background-image: url(./assets/img/dc-logo-bg.png);
    z-index: -1;
    height: 600px;
    width: 600px;
    bottom: 50%;
    right: 30%;
    translate: 50% 50%;
    display: block;
    background-repeat: no-repeat;
}

#footerBar{
    background-color: rgba(48, 48, 48);
}

#footBTN{
    border: solid rgba(2, 130, 249) 2px;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    text-align: center;
    
}

#follow{
    color: rgba(2, 130, 249);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 20px;
}

.bottomBotton{
    margin-top: 5px;
    height: 10px;
    display: flex;
}

#lowBar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.comics{
    display: flex;
    flex-direction: column;
}

.mainFont{
    text-decoration: none;
    color: rgba(108, 117, 125);
}

#jumbotron{
    background-image: url(./assets/img/jumbotron.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    

}

#more{
    width: 200px;
}


.cardTitle{
    font-size: 20px;
    color: white;

}




